
//Colors
$brand-primary:
$text-color:

$link-color:
$link-hover-color:


//Type

$font-size-base:
$font-size-large:
$font-size-small:

$font-size-h1:
$font-size-h2:
$font-size-h3:
$font-size-h4:
$font-size-h5:
$font-size-h6: