//Google font Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic);

body {
  font-family: $main-font-family;
  line-height: $line-height-base;
  font-size: $font-size-base;

  color: $text-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $brand-primary;
}

//Trianglify background generator block
canvas {
  position: absolute;
  top: 0;
  z-index: -100;
}

//Hero banner
.hero {
  height: 500px;
  padding: 40px;
}

//header info action

.tel {
  float: left;
}

.tel::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($phone);
}

.del-promo ul {
  float: right;
}

.del-promo ul li{
  display: inline-block;
  margin-right: 15px;
}

.delivery::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($rocket);
}
.promo::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($persent);
}

//header hgroup brand hello text

.header-info {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10%;
}

.header-brand {
  font-size: $font-size-brand;
  font-weight: 400;
}

hgroup hr {
    border: 0;
    height: 1px;
    background: #333;
    width: 300px;
}

.header-disc {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-size: $font-size-h3;
  font-weight: 400;
}

//Main market content

//site info-block
.info-block {
  background-color: white;
  padding: 5% 10%;
  margin: 5%;
  border: 1px solid rgba(0,0,0,.05);
  font-size: $font-size-large;
  font-weight: 300;
  text-align: center;
}

//main market navigation
.nav-animal {
  text-align: center;
}

.nav-animal li{
  display: inline-block;
  margin-right: 10%;
  text-transform: uppercase;
}

.dog::before, .cat::before, .bird::before, .humster::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
}
.dog::before {
  @include sprite(phone);
}


//checkbox

[type=checkbox]::after {
  content: attr(value);
  margin: -3px 15px;
  vertical-align: top;
  display: inline-block;
  white-space:nowrap;
  cursor:pointer;
}