body {
  font-family: $main-font-family;
  color: $text-color;
}

ul {
  list-style: none;
}

//header info action
.tel::before {
  content: '';
  display: inline-block;
  @include sprite($phone);
}
.delivery::before {
  content: '';
  display: inline-block;
  @include sprite($rocket);
}
.promo::before {
  content: '';
  display: inline-block;
  @include sprite($persent);
}


//checkbox

[type=checkbox]::after {
  content: attr(value);
  margin: -3px 15px;
  vertical-align: top;
  display: inline-block;
  white-space:nowrap;
  cursor:pointer;
}