//Google font Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic);

body {
  font-family: $main-font-family;
  line-height: $line-height-base;
  font-size: $font-size-base;

  color: $text-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $brand-primary;
}

//Trianglify background generator block
canvas {
  position: absolute;
  top: 0;
  z-index: -100;
}

//Hero banner
.hero {
  height: 500px;
  padding: 40px;
}

//header info action

.tel {
  float: left;
}

.tel::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($phone);
}

.del-promo ul {
  float: right;
}

.del-promo ul li {
  display: inline-block;
  margin-right: 15px;
}

.delivery::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($rocket);
}

.promo::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  @include sprite($persent);
}

//header hgroup brand hello text

.header-info {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10%;
}

.header-brand {
  font-size: $font-size-brand;
  font-weight: 400;
}

hgroup hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 300px;
}

.header-disc {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-size: $font-size-h3;
  font-weight: 400;
}

//Main market content

//site info-block
.info-block {
  background-color: white;
  padding: 5% 10%;
  margin: 5%;
  border: 1px solid rgba(0, 0, 0, .1);
  font-size: $font-size-large;
  font-weight: 300;
  text-align: center;
}

//main market navigation
// top animals navigation radio buttons
.nav-animal {
  text-align: center;
  font-size: $font-size-large;
  margin-top: 4em;
  cursor: pointer;
}

.nav-animal h1 {
  margin-top: 1.5em;
}

.nav-animal label {
  text-transform: uppercase;
  margin-right: 5%;
}

.nav-animal label:last-child {
  margin-right: 0%;
}

label:hover {
  color: $brand-secondary;
}

//radio first level - animals types

input[type=radio] {
  position: absolute;
  opacity: 0;
}

input[type=radio]:checked + label {
  color: $brand-secondary;
}

//nav icons
.dog::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  @include sprite($dog);
}

.dog:hover::before,
.dog:focus::before {
  @include sprite($dog-selected);
}

input[type=radio]:checked + .dog::before {
  @include sprite($dog-selected);
}

.cat::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  @include sprite($cat);
}

.cat:hover::before,
.cat:focus::before {
  @include sprite($cat-selected);
}

input[type=radio]:checked + .cat::before {
  @include sprite($cat-selected);
}

.bird::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  @include sprite($bird);
}

.bird:hover::before,
.bird:focus::before {
  @include sprite($bird-selected);
}

input[type=radio]:checked + .bird::before,
{
  @include sprite($bird-selected);
}

.hamster::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  @include sprite($hamster);
}

.hamster:hover::before,
.hamster:focus::before {
  @include sprite($hamster-selected);
}

input[type=radio]:checked + .hamster::before,
{
  @include sprite($hamster-selected);
}

//checkbox second level - food types

.nav-type {
  display: block;
  text-align: center;
  margin-top: 1.5em;
}

.nav-type h3 {
  margin-top: 3em;
}

.nav-type label {
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
}

//Hide the input
.nav-type input {
  display: none;
}

.nav-type input[type=checkbox]:checked + label {
  color: $brand-secondary;
  box-sizing: border-box;
  border-bottom: 2px solid $brand-secondary;
  transition:all 0.2s ease-in;
}

// checkboxes third level company name
.nav-company {
  max-width: 1000px;
  margin: 0 auto;
}

.dry {
  display: none;
}

#dry:checked + .dry {
  display: block;
}

